<% include ../partials/header %>

<div class="container">
    <div class="row">
       <h1 style="text-align: center;">edit <%= campground.name %></h1>
        
        <div style="width: 50%; margin: 30px auto;">
            <form action="/slackspots/<%= campground._id %>?_method=PUT" method="POST"> <!--when we submit the form we'll go to /campgrounds page-->
                <div class="form-group">
                    <input class="form-control" type="text" name="name"  value="<%= campground.name%>" required> <!--to have all the info in the form we need change placeholder to value=""-->
                </div>
                <!--<div class="form-group">-->
                <!--    <input class="form-control" type="number" name="campground[price]" value="....................%= campground.price %>" min="0.01" step="0.01" required></input>-->
                <!--</div>-->
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" value="<%= campground.image%>"required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea rows="11" class="form-control" name="description" required><%= campground.description%></textarea> <!--when textarea we don't need write "value="", just write between --> 
                    
                </div>
                <div class="form-group">
                    <button class="waves-effect waves-light btn  btn-block" type="submit">
                        Submit
                        <i class="material-icons">send</i>
                    </button>
                    
                     
                </div>
            </form>
            
            <a href="/slackspots">Go back</a>
        </div>    
    </div>
</div>

<% include ../partials/footer %>